[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai-whisper = "*"
textwrap3 = "*"
nltk = "*"
pandas = "*"
langchain = "*"
openai = "*"
tiktoken = "*"
chromadb = "*"
sentence-transformers = "*"
instructorembedding = "*"
scikit-learn = "*"
matplotlib = "*"
awswrangler = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"
