[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textwrap3 = "*"
streamlit = "*"
pandas = "*"
chromadb = "*"
matplotlib = "*"
awswrangler = "*"
python-dotenv = "*"
instructorembedding = "*"
sentence-transformers = "*"
scikit-learn = "*"
langchain = "*"
tiktoken = "*"

[dev-packages]
ipykernel = "*"
